@use 'src/css/site-common.scss';

.dsr-navigation-bar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 1px 0 site-common.$dsr-blue;
  padding: 0 12px;
  margin-bottom: 2px;

  & *:first-child {
    justify-self: left;
  }

  & *:last-child {
    justify-self: right;
  }

  &--dark {

    @extend .dsr-navigation-bar;
    background-color: site-common.$dsr-dark-blue;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 650px) {

  .dsr-navigation-bar {

    * {
      align-self: center;
    }

    *:nth-child(2) {
      grid-row: 2;
      grid-column: 1 / span 2;
    }
  }
}
