$dsr-white: #FFFFFF;
$dsr-yellow: #FFD700;
$dsr-black: #000000;
$dsr-blue: #0085FF;
$dsr-blue--light: #83c2ff;
$dsr-dark-blue: #00203f;
$dsr-grey--lighter: #E7E7E7;
$dsr-grey: #CBCBCB;
$dsr-grey--darker: #BFBFBF;
