@use 'src/css/site-common.scss';
@use 'components/key-skills/key-skills';
@use 'components/nav-menu/nav-menu.scss';
@use 'components/navigation-bar/navigation-bar.scss';
@use 'components/theme-toggle/theme-toggle.scss';
@use 'components/search/search.scss';
@use 'components/work-history/work-history.scss';
@use 'components/work-history/components/header/header.scss';
@use 'components/work-history/components/list/list.scss';
@use 'components/section-banner/section-banner.scss';
@use 'components/professional-summary/professional-summary.scss';
@use 'components/site-menu/site-menu.scss';

* {
    box-sizing: border-box;
    font-weight: 300;
    font-family: Inter, Arial, sans-serif;
}

.dsr-index {
    position: relative;
}

.html {
    background-color: site-common.$dsr-grey--lighter;

    &--dark {
        background-color: site-common.$dsr-blue;
    }
}

body {
    background-color: site-common.$dsr-white;
}

html, body {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

@page  {
    margin: 0;
}
