@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap);

* {
    box-sizing: border-box;
    font-weight: 300;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

html {
    background-color: #e7e7e7;
}

body {
    background-color: white;
}

html, body {
    margin: 0 auto;
    //height: 100%;
    width: 100%;
    max-width: 1000px;
}