@use 'src/css/site-common.scss';
@use 'components/key-skills/key-skills';
@use 'components/nav-menu/nav-menu.scss';
@use 'components/navigation-bar/navigation-bar.scss';
@use 'components/theme-toggle/theme-toggle.scss';
@use 'components/search/search.scss';
@use 'components/work-history/work-history.scss';
@use 'components/work-history/components/header/header.scss';
@use 'components/work-history/components/list/list.scss';
@use 'components/section-banner/section-banner.scss';
@use 'components/professional-summary/professional-summary.scss';
@use 'components/site-menu/site-menu.scss';

* {
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
}

.dsr-index {
    position: relative;
}

.html {
    background-color: site-common.$dsr-grey--lighter;

    &--dark {
        color: site-common.$dsr-white;
        background-color: site-common.$dsr-blue;
    }
}

body {
    background-color: site-common.$dsr-white;
}

html, body {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

@page  {
    margin: 0;
}

.dsr-index__printed-text {
    display: none;
}

@media print {

    .dsr-index__printed-text {
        display: inline;
        position: absolute;
        right: 0;
        font-style: italic;
        text-align: center;
        grid-column: span 2;
        margin-right: 10px;
    }

    .dsr-index {
        width: 816px; // 8.5in -> pixels. Useful for an accurate rendering during development / 'print' media type emulation
        max-height: 1056px; // 11in -> pixels. Useful for an accurate rendering during development / 'print' media type emulation
        overflow: hidden;
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 250px;

        .dsr-pro-summary, .dsr-pro-summary--dark {
            grid-column: span 2;
        }

        .dsr-key-skills, .dsr-key-skills--dark {
            grid-column: 2;
        }

        .dsr-work-history, .dsr-work-history--dark {
            grid-row: 2;
            grid-column: 1;
        }
    }

}
