.dsr-key-skills {

  position: relative;
  box-shadow: 0 2px 1px 0 #0085FF;
  padding: 30px 12px;

  &__display-checkbox {
    appearance: none;
    height: 0;
    width: 0;
    position: absolute;
  }

  &__toggle {

    &-label {

      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 300;
      font-size: 1.3rem;
      margin-bottom: 10px;
    }

    &-icon {
      display: none;
      width: 20px;
      height: 20px;
      background-color: #0085FF;
      transition: transform 0.3s ease;
      clip-path: polygon(0 0, 50% 50%, 100% 0, 50% 100%, 0 0);
    }
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
  }

  &__skill {
    display: inline-block;
    border: 1px solid #BFBFBF;
    padding: 6px 10px;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 8px;
    width: fit-content  ;
  }
}

@media screen and (max-width: 650px) {
  .dsr-key-skills {

    &__skills {
      height: 0;
      overflow: hidden;;
    }

    &__toggle {
      &-icon {
        display: block;
      }
    }

    &__display-checkbox:checked + .dsr-key-skills__skills {
      height: auto;
    }

    &__display-checkbox:not(:checked) + .dsr-key-skills__skills {
      display: none;
    }
  }
}
