@use 'src/css/site-common.scss';

.dsr-key-skills {

  position: relative;
  box-shadow: 0 2px 1px 0 site-common.$dsr-blue;
  padding: 30px 12px;
  margin-bottom: 2px;

  &__display-checkbox {
    appearance: none;
    height: 0;
    width: 0;
    position: absolute;
  }

  &__toggle {

    &-label {

      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 300;
      font-size: 1.3rem;
      padding: 12px 0;
    }

    &-icon {
      display: none;
    }
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
  }

  &__skill {
    display: inline-block;
    border: 1px solid site-common.$dsr-grey--darker;
    padding: 6px 10px;
    border-radius: 7px;
    margin-right: 10px;
    margin-bottom: 8px;
    width: fit-content  ;
  }

  &--dark {
    @extend .dsr-key-skills;

    background-color: site-common.$dsr-dark-blue;
    color: site-common.$dsr-grey;
  }
}

@media screen and (max-width: 650px) {

  .dsr-key-skills {

    &__skills-row {
      display: flex;
      flex-wrap: wrap;
      min-height: 0;
      transition: opacity 1s;
      opacity: 0;
    }

    &__skills {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 1s;
      overflow: hidden;
    }

    &__toggle {
      &-icon {
        display: block;
        width: 20px;
        height: 20px;
        background-color: site-common.$dsr-blue;
        transition: all 0.3s ease;
        clip-path: polygon(0 0, 50% 50%, 100% 0, 50% 100%, 50% 100%, 50% 100%);
      }
    }

    &__display-checkbox:checked {

      + .dsr-key-skills__toggle-label .dsr-key-skills__toggle-icon {
        clip-path: polygon(0 45%, 50% 45%, 100% 45%, 100% 55%, 50% 55%, 0% 55%);
      }

      + .dsr-key-skills__toggle-label + .dsr-key-skills__skills {

        grid-template-rows: 1fr;

        .dsr-key-skills__skills-row {
          opacity: 1;
        }
      }
    }

    &__display-checkbox:not(:checked) {
      + .dsr-key-skills__toggle-label + .dsr-key-skills__skills:first-of-type {
        max-height: 0;
      }
    }
  }
}

@media print {

  .dsr-key-skills {

    &__toggle {
      &-label {
        display: inline-flex !important;
        width: fit-content;

        &:after {
          content: ' : ';
        }
      }
    }

    &__skills {
      display: inline-flex;
    }
  }
}
